.parkingLayout{
    margin: 0 auto;
    // background-color: black;

    thead{
        font-weight: bold;
        text-align: center;
    }
    tbody{
        
        img{

            height:100px;
            width:100px;
        } 
    }

    tfoot{
        text-align: center;
    }

}

.datelabel{
    background-color: rgba(251, 252, 249, 0.924);
    text-align: center;
}

.parking {
    width: 100px;
    height: 100px;
    background-color: #72df726b;
    margin: 0;

    &.reserved {
        background-color: #5d5d5d94;
        color: #fff;
    }
    &.booked {
        background-color: #ff7a62;
        color: #fff;
    }
    &.booking {
        background-color: #61c7ff8a;
    }
}

.parking {
    width: 100px;
    height: 100px;
    background-color: green;
    position: relative;
    cursor: pointer;
    display: block;

    &.reserved {
      background-color:lightslategrey;
      cursor: not-allowed;
    }
    &.booked {
      background-color:tomato;
      cursor: default;
    }
    &.booking {
      background-color:skyblue
    }
}
[type="radio"] {
    position: absolute;
    z-index: -1;

    &:checked + .parking {
        background-color: aqua;
    }
}